body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #DDA0DD, #7B68EE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    max-width: 240px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    background-color: #F0E68C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.display-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.calculator input {
    width: 80%;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    background-color: #6B8E23;
    color: #fff;
    font-family: "Digital", sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.calculator button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    background-color: #F8ECC2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #EFDDB1;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
